<div class="signup-page">

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "signup-simple-form" }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
  <%= f.input :username,
    required: true,
    autofocus: true,
    input_html: { autocomplete: "username", class: "form-input" },
    wrapper_html: { class: "form-input-wrapper" },
    placeholder: "Create username",
    label: false %>

  <%= f.input :email,
    required: true,
    autofocus: true,
    input_html: { autocomplete: "email", class: "form-input" },
    wrapper_html: { class: "form-input-wrapper" },
    placeholder: "Email",
    label: false %>

  <%= f.input :photo, as: :file, input_html: { class: "form-input" }, wrapper_html: { class: "form-input-wrapper" } %>

  <%= f.input :password,
    required: true,
    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
    input_html: { autocomplete: "new-password", class: "form-input" },
    wrapper_html: { class: "form-input-wrapper" },
    placeholder: "Password",
    label: false %>

  <%= f.input :confirm_password,
    required: true,
    input_html: { autocomplete: "new-password", class: "form-input" },
    wrapper_html: { class: "form-input-wrapper" },
    placeholder: "Confirm Password",
    label: false %>
</div>

    <div class="form-actions">
      <%= f.button :submit, "Create Account", class: "create-account-button" %>
    </div>
  <% end %>

  <h2>By selecting create account, you agree  to our terms
  and have read and acknowledged our Global Privacy
  Statement. Just kidding.
  </h2>
</div>
