<h1>Hello <%= current_user.username %>,</h1>

<h4>Welcome to your Fridge</h4>
<div class="container">
  <% @categories.each do |category| %>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop<%= category.id %>" style="display:block; margin-bottom: 20px; margin-left: -15px;">
      <h4><%= category.name %>:</h4>
    </button>
  <% end %>

  <!-- Modal -->
  <% @categories.each do |category| %>
  <div class="modal fade" id="staticBackdrop<%= category.id %>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title"><%= category.name %>:</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <% category.ingredients.each do |ingredient|%>
              <div class="form-check">
                <input class="form-check-input ingredient-checkbox" type="checkbox" value="<%= ingredient.name %>" id="<%= "checkbox_#{ingredient.id}" %>">
                <label class="form-check-label" for="flexCheckDefault">
                  <p><%= ingredient.name %></p>
                </label>
              </div>
            <% end %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="saveChanges()">Save changes</button>
          </div>
        </div>
      </div>
  </div>
 <% end %>
</div>
<script>
  function saveChanges() {
    console.log('Save button clicked!');

    const selectedIngredients = [];
    const checkboxes = document.querySelectorAll('.ingredient-checkbox');
    checkboxes.forEach(checkbox => {
      if (checkbox.checked) {
        selectedIngredients.push(checkbox.value);
      }
    });

    console.log('Ingredients:', selectedIngredients);
    const selectedIngredientsDiv = document.getElementById('selectedIngredients');
    selectedIngredientsDiv.style.display = 'block';
    selectedIngredientsDiv.innerHTML = `<strong>Ingredients:</strong><br>${selectedIngredients.join('<br>')}`;


  }

</script>
 <div id="selectedIngredients" style="display: none;"></div>
 <button type="button" class="btn btn-primary">Get Recipes</button>
