<h1>Hello <%= current_user.username %>,</h1>

<h4>Welcome to your Fridge</h4>
<div class="container">
  <% @categories.each do |category| %>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop<%= category.id %>" style="display:block; margin-bottom: 20px; margin-left: -15px;">
      <h4><%= category.name %>:</h4>
    </button>
  <% end %>

  <!-- Modal -->
 <% @categories.each do |category| %>
    <div class="modal fade" id="staticBackdrop<%= category.id %>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title"><%= category.name %>:</h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="ingredient-checkboxes">
                  <%= simple_form_for [@fridge_list, @fridge_list_ingredients], url: recipes_path, method: :post do |f| %>
                      <% category.ingredients.each do |ingredient| %>
                        <%= f.input_field :ingredient,
                        as: :check_boxes,
                        label: ingredient.name,
                        collection: [ingredient],
                        checked: false,
                        input_html: { value: ingredient.id, id: "checkbox_#{ingredient.id}"} %>
                      <% end %>
                      <%#= f.input_field :query, class: "form-control", placeholder: :ingredient %>
                      <%#= f.hidden_field "selected_ingredient", value: ingredient.id %>
                      <%= f.submit "Get Recipe", class: "btn btn-primary" %>
                  <% end %>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <%# <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="saveChanges()">Save changes</button> %>
            </div>
          </div>
        </div>
    </div>
 <% end %>
</div>

<p>Test 1</p>

<%= simple_form_for [@fridge_list, @fridge_list_ingredients], url: recipes_path do |f| %>
  <% @categories.each do |category| %>
    <h4><%= category.name %>:</h4>
    <div class="ingredient-checkboxes">
      <% category.ingredients.each do |ingredient| %>
        <%= f.input_field :selected_ingredient,
                         as: :check_boxes,
                         label: ingredient.name,
                         collection: [ingredient],
                         checked: false,
                         input_html: { value: ingredient.id, id: "checkbox_#{ingredient.id}" } %>
        <%= f.hidden_field :ingredient_id, value: ingredient.id %>
      <% end %>
    </div>
  <% end %>
  <%= f.submit "Get Recipe", class: "btn btn-primary" %>
<% end %>


  <%# Test 2 %>
<% @fridge_list.ingredients.each do |ingredient| %>
  <p><%= ingredient.name %></p>
<% end %>
<% @fridge_list.ingredients.each do |ingredient| %>
  <div class="row justify-content-center">
    <div class="col-sm-8 my-3">
      <%= simple_form_for :recipe_search, url: recipes_path, method: :post, class: "d-flex" do |f| %>
        <%= f.text_field :query,
              class: "form-control",
              placeholder: "Type a keyword",
              value: ingredient.name
          %>
        <%= f.hidden_field :ingredient_id, value: ingredient.id %>
        <%= f.submit "Search", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
<% end %>
