<h1>Hello <%= current_user.username %>,</h1>

<h4>Welcome to your Fridge</h4>
<div class="container">
  <% @categories.each do |category| %>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop<%= category.id %>" style="display:block; margin-bottom: 20px; margin-left: -15px;">
      <h4><%= category.name %>:</h4>
    </button>
  <% end %>

  <!-- Modal -->
  <% @categories.each do |category| %>
  <div class="modal fade" id="staticBackdrop<%= category.id %>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title"><%= category.name %>:</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <% category.ingredients.each do |ingredient|%>
                <%#= simple_form_for [@fridge_list, @fridge_list_ingredients] do |f| %>
                  <%#= f.association :ingredient, multiple: true, as: :check_boxes, collection: ingredient %>
                  <%#= f.input :ingredient, colllection: Ingredient.where(category: category),as: :boolean %>
                  <%#= f.button :submit, 'Add Fridge Item', class: 'btn btn-primary' %>
                <%# end %>
              <div class="form-check">
                <input class="form-check-input ingredient-checkbox" type="checkbox" value="<%= ingredient.name %>" id="<%= "checkbox_#{ingredient.id}" %>">
                <label class="form-check-label" for="flexCheckDefault">
                  <p><%= ingredient.name %></p>
                </label>
              </div>
            <% end %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="saveChanges()">Save changes</button>
          </div>
        </div>
      </div>
  </div>
 <% end %>
</div>
 <%# <div id="selectedIngredients" style="display: none;"></div> %>
 <% @fridge_list.ingredients.each do |ingredient| %>
 <%= ingredient.name %>
 <% end %>
 <button type="button" id="GetRecipes" class="btn btn-primary" data-bs-dismiss="modal" onclick="saveChanges()">Get Recipes</button>
<div class="row justify-content-center">
  <div class="col-sm-8 my-3">
    <%= form_with url: recipes_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Type a keyword"
        %>
      <%= submit_tag "Get Recipe", name: "", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
