<div data-controller='virtual-keyboard' class="search">
  <div class="row justify-content-center">
    <div class="col-sm-8 my-3">
      <%= form_with url: favorites_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Favorite Recipe",
          data: { virtual_keyboard_target: 'search', action: "click->virtual-keyboard#toggleKeyboard" },
          value: ""
        %>
        <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
      <% end %>
    </div>
    <div class="keyboard-container d-none" data-virtual-keyboard-target='keyboard'>
      <div class="simple-keyboard"></div>
    </div>
  </div>
</div>
<div>
  <div class="text-center" >
    <h1 class="color-purple-bk"> Your favorite recipes:</h1>
  </div>
  <div class="my-4 mx-4">
    <% if @favorite_recipes.empty? %>
      <p class="p-title">Add a favorite recipe</p>
    <% else %>
      <% @favorite_recipes.each do |recipe| %>
        <div  data-controller="favoritable"  data-favoritable-mark-path-value="<%= mark_path(recipe.id) %>"  data-favoritable-unmark-path-value="<%= unmark_path(recipe.id) %>" data-favoritable-like-path-value="<%= like_path(recipe.id) %>" data-favoritable-unlike-path-value="<%= unlike_path(recipe.id) %>">
          <div class="card-whole-fav mt-3">
            <div class="position-relative">
              <div class="col-md-4" data-bs-toggle="modal" data-bs-target="#exampleModal<%= recipe.id %>">
                <%= cl_image_tag recipe.photo.key, class:"d-block actual-pic ", alt:"Poster", crop: :fill, style:" width: 100%; height: 170px;object-fit: cover;"  %>
              </div>
              <div class="position-absolute top-0 start-0 p-2">
                <i class="fas fa-info-circle"></i>
              </div>
            </div>

            <div class="card-body">
              <%# <div class="mx-2 d-flex justify-content-center"> %>
                <h5 class="mx-2 my-2 name-recipe"><%= recipe.name.capitalize%></h5>
              <%# </div> %>
              <div class="mx-2 d-flex justify-content-end">
                <p class="p-icon-fav "><i class="mx-2 pe-2 fa-solid fa-user-group iconico ">   <%= recipe.number_of_portions%></i></p>
                <p class="p-icon-fav "><i class=" fa-regular fa-clock iconico ">   <%= recipe.preparation_time%></i>m</p>
              </div>
              <div class="d-flex" >
                <div class="cardib">
                  <p class="cardib-text"><%= raw recipe.description.first(180)%>...</p>
                </div>
              </div>
            </div>

            <div class="mx-2 d-flex justify-content-end align-items-end mt-3"  >
              <i class="fa-regular fa-circle-check icon-index px-1 <%= 'd-none' if recipe.done? %>" <%= recipe.id %> style="color: gray " data-favoritable-target="markasdone"  data-action="click->favoritable#mark_js" ></i>
              <i class="fa-regular fa-circle-check icon-index px-1 <%= 'd-none' unless recipe.done? %>" <%= recipe.id %> style="color: green" data-favoritable-target="markedasdone"  data-action="click->favoritable#unmark_js" ></i>
              <i class="fa-solid fa-heart icon-index  <%= 'd-none' unless recipe.favorited_by?(current_user) %>"  data-favoritable-target="liked" style="color: #ff2600;" data-action="click->favoritable#unlike_js"></i>
              <i class="fa-regular fa-heart icon-index  <%= 'd-none' if recipe.favorited_by?(current_user) %>" data-favoritable-target="unliked"  style="color: #ff2600;" data-action="click->favoritable#like_js"></i>
            </div>

          </div>
             <!-- Modal -->
                <div class="modal fade"  id="exampleModal<%= recipe.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" style="height:95vh">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel"><%= recipe.name.capitalize%></h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <div class="col-md-4 ">
                      <%# <img src="..." class="img-fluid rounded-start" alt="..."> %>
                      <%= cl_image_tag recipe.photo.key, class:"d-block actual-pic ", alt:"Poster", crop: :fill, style:" width: 100%; height: 200px;object-fit: cover;"  %>
                    </div>
                    <div class="col-md-6">
                      <%# <div class="card-body"> %>

                        <div class="mx-2 pt-3 d-flex justify-content-center">
                          <p><i class="mx-2 pe-2 fa-solid fa-user-group border-end">   <%= recipe.number_of_portions%></i></p>
                          <p><i class="mx-2 fa-regular fa-clock">   <%= recipe.preparation_time %></i></p>
                        </div>

                        <div class="d-flex" >
                          <div class="">
                            <div class="cardi-instruction"><%= raw recipe.instruction%></div>
                          </div>
                        </div>
                        <%# <div class="mx-2 d-flex justify-content-end align-items-end"> %>

                        <div class="mx-2 d-flex justify-content-end align-items-end mt-3"  >
                          <i class="fa-regular fa-circle-check icon-index px-1 <%= 'd-none' if recipe.done? %>" <%= recipe.id %> style="color: gray " data-favoritable-target="markasdone"  data-action="click->favoritable#mark_js" ></i>
                          <i class="fa-regular fa-circle-check icon-index px-1 <%= 'd-none' unless recipe.done? %>" <%= recipe.id %> style="color: green" data-favoritable-target="markedasdone"  data-action="click->favoritable#unmark_js" ></i>
                          <i class="fa-solid fa-heart icon-index  <%= 'd-none' unless recipe.favorited_by?(current_user) %>"  data-favoritable-target="liked" style="color: #ff2600;" data-action="click->favoritable#unlike_js"></i>
                          <i class="fa-regular fa-heart icon-index  <%= 'd-none' if recipe.favorited_by?(current_user) %>" data-favoritable-target="unliked"  style="color: #ff2600;" data-action="click->favoritable#like_js"></i>
                        </div>



                        <%# </div> %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
      <% end %>
    <% end %>
  </div>
</div>
